#colorlist, #colorarea, #log {
	float: left;
	padding-left: 10px;
}

.button {
	content: '';
	width: 300px;
	height: 100px;
}

.red {
	background-color: red;
}

.blue {
	background-color: blue;
}

.green {
	background-color: green;
}

.white {
	background-color: #eee;
}

.box {
	width: 400px;
	height: 300px;
	line-height: 300px;
	text-align: center;
	color: white;
	font-size: 48px;
	text-transform: uppercase;
}

.text {
	opacity: 0.5;
	color: white;
	width: 200px;
	height: 100px;
	text-align: center;
	font-size: 48px;
	line-height: 100px;
}